


main {
  flex: 1;
  display: flex;
  justify-content: space-around;
  margin-top: 4em;
}

main h3 {
   background-color: #021138;;
}

main div {
  flex-basis: 45%;
  margin: 1em;
  border: 2px solid white;
}


body{
  color: black;
  
}


h3 {
  text-align: center;
  padding: 0.5em;
  background-color: #021138;
color: white;
}



form {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: black;
  padding: 1em;

}


table {
  border: none;
  width: 100%;
  text-align: center;
  background-color: 
  white;
}



#PlusCircleOutlined{
  color: #2155f3;
}


button:hover{
  opacity: 0.7;
  mix-blend-mode: darken;

}

@import '~antd/dist/antd.css';

#components-layout-demo-fixed .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.site-layout .site-layout-background {
  background: #fff;
}